table {
    width: 30%;
    border-collapse: separate;
    margin: 20px auto;
    border: 2px double black;
    border-spacing: 3px;
    font-family: Arial, sans-serif;
}

th,
td {
    border: 2px double black;
    padding: 8px;
    text-align: center;
}

th {
    font-weight: bold;
}
