.body{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 16px; 
    width: 100%; 
    padding-top: 20px;
}
.list{
    display: flex;
    width: 50%;
    background: rgb(228, 234, 240);
    height: 150px;
}

.image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .image img {
    max-width: 120px;
    height: auto;
    border-radius: 50%; 
  }
  
  .content {
    width: 70%; 
    padding: 16px; 
    display: flex;
    flex-direction: column;
    justify-content: center;

  }