.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list{
    margin-left: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    overflow: hidden;
}

.list-seperator{
    border: 1px solid black;
    height: 90vh;
}

.list-container {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid black;
}

.color-bar {
  border-left: 6px solid; 
  height: 100%; 
  margin-right: 10px; 
  min-height: 100px; 
}

.save-button {
    width: 50px; 
    align-self: end; 
    background-color: blue; 
    color: white; 
}
